
<div class="p-2">
<%= form_with model: product do |form| %>
  <div class="flex">   
    <div class="flex-1" >         
      <div style="padding:20px;">
        <img class="relative" width=320 src="<%= product.photo %>" alt="No pic">            
      </div>
    </div>

    <div class="flex-1">
      <div class="flex-1">
        <%= form.label :name , class:"form_label" %>
        <%= form.text_field :name, class: "text-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" %>
        <% product.errors.full_messages_for(:name).each do |message| %>
          <div style='color:red; font-weight: 400; font-size:14px'><%= message %></div>
        <% end %>
      </div>
      <div class="flex-1">
      <%= form.label :category , class:"form_label" %>
      <%= form.text_field :category, class: "text-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" %>
      <% product.errors.full_messages_for(:category).each do |message| %>
      <div style='color:red; font-weight: 400; font-size:14px'><%= message %></div>
      <% end %>
      </div>  

      <div class="flex-1">
        <%= form.label :price, class:"form_label" %><br>
        <%= form.number_field :price, class: "text-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 w-full p-2.5" %><br>
        <% product.errors.full_messages_for(:price).each do |message| %>
          <div style='color:red; font-weight: 400; font-size:14px'><%= message %></div>
        <% end %>
      </div>

      <div class="flex-1">
        <%= form.label :minimumSale, class:"form_label" %><br>
        <%= form.text_field :minimumSale, class: "text-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 w-full p-2.5" %><br>
        <% product.errors.full_messages_for(:minimumSale).each do |message| %>
          <div style='color:red; font-weight: 400; font-size:14px'><%= message %></div>
        <% end %>
      </div>

      <div class="flex-1">
        <%= form.label :address, class:"form_label" %><br>
        <%= form.textarea :address, class: "form_input" %><br>
        <% product.errors.full_messages_for(:address).each do |message| %>
          <div style='color:red; font-weight: 400; font-size:14px'><%= message %></div>
        <% end %>
      </div>        
    </div>
  </div>
    

  <div class="text-sm">
    <%= form.label :photo , class:"form_label" %><br>
          <%= form.text_field :photo, class: "text-sm bg-gray-50 border border-gray-300 text-gray-900 rounded-lg  w-full p-2.5" %>
          <% product.errors.full_messages_for(:photo).each do |message| %>
          <span style="color:red;"><%= message %></span>
        <% end %>         
  </div>


  <div class="">
        <%= form.label :description, class:"form_label" %><br>
        <%= form.textarea :description, class: "form_input" %><br>
        <% product.errors.full_messages_for(:description).each do |message| %>
          <div style='color:red; font-weight: 400; font-size:14px'><%= message %></div>
        <% end %>
  </div>

  <div>
    <button class="cursor text-white inline-flex align-middle px-4 py-2 bg-green-500 hover:bg-green-700 rounded-xl p-2 justify-items-end">
        <%= form.submit "Save changes"%>
    </button>      
  </div>
<% end %>
<div>